venv/
*.pyc
__pycache__/
instance/
.cache/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.idea/
*.swp
*~
flaskr/static/file/private/
flaskr/static/file/share/
flaskr/server_pcb/view/pcb_static/products/
flaskr/server_tuchuang/presenter/static/file/private/
