<!doctype html>
<title>{% block title %}{% endblock %} - BTFZ</title>
<link rel="stylesheet" href="{{ url_for('main.static', filename='main_css/style.css') }}">
<nav>
  <h1><a href="{{ url_for('main.index') }}">BTFZ</a></h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">退出</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">注册</a>
      <li><a href="{{ url_for('auth.login') }}">登陆</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
