{% extends 'tuchuang_html/backend.html' %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='file/css/tuchuang/upload.css') }}">
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript"  src="{{ url_for('static', filename='file/js/tuchuang/upload.js') }}"></script>
{% endblock %}

{% block header %}
  <h1>{% block title %}Upload Pictures{% endblock %}</h1>
{% endblock %}

{% block content %}
</br>
<h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
    Upload Pictures
</h4>
<div id="drop-area">
    <form class="my-form">
        <p class="mb-4 text-gray-600 dark:text-gray-300">Upload multiple files with the file dialog or by dragging and dropping images onto the dashed region</p>
        <input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
        <label class="button" for="fileElem">Select some files</label>
        <div id="gallery"></div>
        <progress id="progress-bar" max=100 value=0></progress>
    </form>
</div>
{% endblock %}
